.showTime{
   
    background-image: url(../../../../public/img/test3.jpg);
    background-size: cover;
    .container{
        width : 80vw;
        margin : 0 auto;
        padding : 4%;
        background-color: transparent;
        }
    }

